<div class="navbar navbar-default navbar-fixed-top navbar-inverse">

    <div class="navbar-header">

        <button type="button" class="btn btn-default navbar-btn" ng-click="goToHome()">
            <span class="glyphicon glyphicon-home"></span>
        </button>

    </div>

</div>

<div class="container">
<h1>Here's the quiz</h1>

    <div class="form-group bigger">
      <h3>Entertain___ (Noun)</h3>
        <div class="radio">
            <label>
                <input type="radio" name="questionOne" value="tion" ng-model="questionOne.answer">
                -tion
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="questionOne" value="ment" ng-model="questionOne.answer">
                -ment
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="questionOne" value="itude" ng-model="questionOne.answer">
                -itude
            </label>
        </div>
    </div>
    <div class="form-group bigger">
      <h3>Development___ (Adjective)</h3>
        <div class="radio">
            <label>
                <input type="radio" name="questionTwo" value="ical" ng-model="questionTwo.answer">
                -ical
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="questionTwo" value="ish" ng-model="questionTwo.answer">
                -ish
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="questionTwo" value="al" ng-model="questionTwo.answer">
                -al
            </label>
        </div>
    </div>
    <div class="form-group bigger">
      <h3>Class___ (Verb)</h3>
        <div class="radio">
            <label>
                <input type="radio" name="questionThree" value="ify" ng-model="questionThree.answer">
                -ify
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="questionThree" value="ate" ng-model="questionThree.answer">
                -ate
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="questionThree" value="iate" ng-model="questionThree.answer">
                -iate
            </label>
        </div>
    </div>
    <div class="form-group bigger">
      <h3>Censor___ (Noun)</h3>
        <div class="radio">
            <label>
                <input type="radio" name="questionFour" value="ment" ng-model="questionFour.answer">
                -ment
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="questionFour" value="ship" ng-model="questionFour.answer">
                -ship
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="questionFour" value="ness" ng-model="questionFour.answer">
                -ness
            </label>
        </div>
    </div>
    <div class="form-group bigger">
      <h3>Technologic___ (Adverb)</h3>
        <div class="radio">
            <label>
                <input type="radio" name="questionFive" value="mently" ng-model="questionFive.answer">
                -mently
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="questionFive" value="ishly" ng-model="questionFive.answer">
                -ishly
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="questionFive" value="ically" ng-model="questionFive.answer">
                -ically
            </label>
        </div>
    </div>

</div>
