<div class="navbar navbar-default navbar-fixed-top navbar-inverse">

    <div class="navbar-header">

        <button type="button" class="btn btn-default navbar-btn" ng-click="goToHome()">
            <span class="glyphicon glyphicon-home"></span>
        </button>
        <button type="button" class="btn btn-default navbar-btn" ng-click="goToDemo()">
            <span class="glyphicon glyphicon-education"
        </button>
    </div>

</div>

<div class="container">
    <img src='images/tensorflow.png'>
    <img src='images/tinder-logo.png'>
<h1>Welcome to the Tinderflow App</h1>

    <p class='bodyCopy'>This is a simple demo app based <br>
        on both Tinder (swipe left/right)<br>
        and Tensorflow (calculate weights based on datapoints)<br>

        Here's how it works</p>
    <ol id='largeList'>
        <li>click the learning button to go to the demo</li>
        <li>swipe right if you like what you see</li>
        <li>swipe left if you don't</li>
        <li>watch the stats update in real time to reflect your choices</li>
    </ol>
</div>
